Django>=3.2,<3.3
mysqlclient==2.1.0
django-debug-toolbar
django-crispy-forms
colorful
django_social_share
django-allauth
pyopenssl
django-paypal
sentry-sdk
django-crontab==0.7.1
celery==4.4.1
redis==3.4.1
django-celery-beat==1.6.0
