{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="card">
  <div class="card-body" style="text-align: center; align: middle;">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  </div
</div>

{% endblock %}
