{% load static %}

<footer class="footer">
  <div class="contenedor">
      <div class="barra">
          <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
            <a href="/" class="navegacion__enlace">Home</a>
            <a href="/monitorsite/" class="navegacion__enlace">Monitor</a>
            <a href="/reports/" class="navegacion__enlace">Reports</a>
          </nav>
      </div>
  </div>
</footer>


</body>
</html>
