{% load i18n %}
{% load static %}
<header class="header">

  <div id="cont" class="contenedor">

      <div class="barra">
          <a class="logo" href="/home/">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
              <a href="/" class="navegacion__enlace">{% trans "Home" %}</a>
              <a href="/monitorsites/" class="navegacion__enlace">{% trans "Monitor" %}</a>
              <a href="/report/" class="navegacion__enlace">{% trans "Reports" %}</a>
          </nav>
      </div>
  </div>

</header>
