{% load i18n %}
{% load static %}
<header class="header" style="background: url({% static 'img/logo.svg' %}); background-size: 100rem; height: 90rem; background-position: center ; background-repeat: no-repeat;">

  <div id="cont" class="contenedor">

      <div class="barra">
          <a class="logo" href="/home/">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
              <a href="/" class="navegacion__enlace">{% trans "Home" %}</a>
              <a href="/monitorsites/" class="navegacion__enlace">{% trans "Site Monitoring" %}</a>
              <a href="/report/" class="navegacion__enlace">{% trans "Reports" %}</a>
          </nav>
      </div>
  </div>

</header>

<!--  -->
  <div class="contenedor contenido-principal">

  </div>
