{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="contenedor">
  <h4>Health Check </h4>

  <div class='panel panel-default'>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">URL</th>
        <th scope="col">Status</th>
        <th scope="col">SSL</th>
        <th scope="col">SSL Expiration</th>
        <th scope="col">Last Checked</th>
      </tr>
    </thead>
      <tr>
        <th scope="row"><a href="/monitorsites_update/{{ site.id }}">{{ getReport.name }}</a></th>
        <td><a href="https://{{ site.url }}" target="_new">{{ getReport.url }}</a></td>
        <td>{{ getReport.status }}</td>
        <td>{{ getReport.ssl_status}}</td>
        <td>{{ getReport.ssl_expirtaion }}</td>
        <td>{{ getReport.last_polled_date_time }}</td>
      </tr>

    </table>
    {{ message }}
    {% if message.contains "200" %}
    <h4 class="warning">All Good!</h4>
    {% else %}
    <h4 class="warning">Uh Oh!</h4>
    {% endif %}
  </div>
    <a href="/monitorsites/" class="btn btn-xs btn-success">Back to Sites</a>
</div>

{% endblock content %}
