{% extends "base.html" %}
{% load static %}
{% block page_title %}Site Monitoring{% endblock %}

{% block content %}

<div class="contenedor">
<!-- Default panel contents -->
<h3>Monitor Sites/Apps and More </h3>
<p>A list of sites you are currently Monitoring.</p>
{% if getSites %}

        <div class='panel panel-default'>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">URL</th>
              <th scope="col">Status</th>
              <th scope="col">SSL</th>
              <th scope="col">SSL Expiration</th>
              <th scope="col">Last Checked</th>
              <th scope="col">Check Now</th>
            </tr>
          </thead>
          {% for site in getSites %}
            <tr>
              <th scope="row"><a href="/monitorsites_update/{{ site.id }}">{{ site.name|truncatechars:85 }}</a></th>
              <td><a href="https://{{ site.url }}" target="_new">{{ site.url }}</a></td>
              <td>{{ site.status|truncatechars:85 }}</td>
              <td>{{ site.ssl_status|truncatechars:85 }}</td>
              <td>{{ site.ssl_expirtaion|truncatechars:85 }}</td>
              <td>{{ site.last_polled_date_time|truncatechars:85 }}</td>
              <td><a href="/monitorsites_check/{{ site.id }}" class="btn btn-xs btn-success"> CHECK NOW </a></td>
            </tr>
          {% endfor %}
          </table>
        </div>

{% else %}
    <p>No Sites. <br/> If you haven't set one up yet... <a href="/monitorsites_add/">what are you waiting for?</a></p>
{% endif %}
  <a href="/monitorsites_add/" class="btn btn-xs btn-success">New Site</a>
</div>


{% endblock content %}
