{% extends "base.html" %}
{% load static %}
{% block page_title %}Site Monitoring{% endblock %}

{% block content %}

<div class="contenedor">
<!-- Default panel contents -->
{% if getSites %}
    {% for site in getSites %}
        <div class='panel panel-default'>
            <div>
              <a href="/monitorsites_update/{{ site.id }}" class="btn btn-xs btn-success">{{ site.name|truncatechars:85 }}</a>
            </div>
        </div>

    {% endfor %}
{% else %}
    <p>No Sites</p>
    <a href="/monitorsites_add/" class="btn btn-xs btn-success">New Site</a>
{% endif %}
</div>


{% endblock content %}
