{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<div class="contenedor">
  <h4>Health Check Report</h4>
  <div class="contenedor">
  <!-- Default panel contents -->
  <h3>Monitor Sites/Apps and More </h3>
  <p>Report and Monitoring History</p>
    <div class='panel panel-default'>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">URL</th>
          <th scope="col">Status</th>
          <th scope="col">SSL</th>
          <th scope="col">SSL Expiration</th>
          <th scope="col">Date Checked</th>
        </tr>
      </thead>
      {% for report in getReport %}
        <tr>
          <th scope="row"><a href="/monitorsites_update/{{ report.site.id }}">{{ report.site.name|truncatechars:85 }}</a></th>
          <td><a href="https://{{ report.site.url }}" target="_new">{{ report.site.url }}</a></td>
          <td>{{ report.status|truncatechars:85 }}</td>
          <td>{{ report.ssl_status|truncatechars:85 }}</td>
          <td>{{ report.ssl_expirtaion|date:"SHORT_DATE_FORMAT" }}</td>
          <td>{{ report.last_polled_date_time|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class='panel panel-default'>
      <h2> Web Stack Analysis <h2>
      <p>{{ wapp }}</p>
    </div>


    <a href="/monitorsites/" class="btn btn-xs btn-success">Back to Sites</a>
  </div>

</div>

{% endblock content %}
